.block{
    border:1px solid #eee;
    width:12rem;
    height:12rem;
    line-height:12rem;
    text-align: center;
    background:#333366;
    color:red;
    float: left;
}
a{
    font-size: 2rem;
}
div{
    font-size: 3rem;
}
a:link{text-decoration:none ; color:white;}
a:hover {text-decoration:none; color:red;}